---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/air_pollution/history?appid=0bbe0d60d951a6d7d5a5584fd1ac8d3e&end=1711723167&lat=51.5073&lon=-0.1276&start=1709131167
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-0.1276,"lat":51.5073},"list":[{"main":{"aqi":1},"components":{"co":257.02,"no":1.06,"no2":22.96,"o3":51.5,"so2":10.25,"pm2_5":3.31,"pm10":4.42,"nh3":0.88},"dt":1709132400},{"main":{"aqi":1},"components":{"co":257.02,"no":0.44,"no2":22.62,"o3":54.36,"so2":9.18,"pm2_5":2.52,"pm10":3.34,"nh3":0.67},"dt":1709136000},{"main":{"aqi":1},"components":{"co":253.68,"no":0.12,"no2":23.99,"o3":57.22,"so2":8.23,"pm2_5":1.92,"pm10":2.37,"nh3":0.47},"dt":1709139600},{"main":{"aqi":1},"components":{"co":257.02,"no":0.01,"no2":26.39,"o3":57.22,"so2":7.75,"pm2_5":1.74,"pm10":2.05,"nh3":0.37},"dt":1709143200},{"main":{"aqi":1},"components":{"co":260.35,"no":0.01,"no2":27[...]
