---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/air_pollution?appid=0bbe0d60d951a6d7d5a5584fd1ac8d3e&lat=51.5073&lon=-0.1276
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-0.1276,"lat":51.5073},"list":[{"main":{"aqi":2},"components":{"co":240.33,"no":0,"no2":7.54,"o3":75.82,"so2":3.25,"pm2_5":0.76,"pm10":1.23,"nh3":0.52},"dt":1711655758}]}'
  recorded_at: Thu, 28 Mar 2024 19:55:58 GMT
recorded_with: VCR 6.2.0
